 @tailwind base;
@tailwind components;
@tailwind utilities;

button, [role="button"] {
  cursor: pointer;
  width: -webkit-fill-available;
}
element.style {
  font-size: 3rem;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
/* ---------------------------------navbar.js CSS ----------------------- */
.Navbar {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: 400;
}
.items ul{
  display: flex;
  gap: 1rem;
}
.search{
  display: flex;
}
.right{
  display: flex;
  gap: 5px;
}
.srch {
  width: 20rem;
  outline-color: black;
  border-radius: 2rem;
  background-color: aliceblue;
  padding: 0.2rem 1rem 0.2rem 1rem;
}
.cat{
  
  position: relative;
  display: inline-block;
  
}
.cate{
  display: none; 
  position: absolute;
  width: 35rem;
  height: 30rem;
  z-index: 1;
  background-color: white;
  padding: 0.1rem;
  margin-top: 0rem;
  border: 2px solid black;
  
  border-radius: 2rem;
}
.cat:hover .cate{
  display: block;
   
}
.cat-cont{
  display: flex;
   
} 
 
 
.cat-cont-left ul{ 
  
  display: inline-block;
  border-right: 4px solid black;
  padding-right: 0.4rem;
   
} 
.cat-cont-left ul li {
  margin: 1rem 0rem 1rem 0.1rem;
  background-color: cornsilk;
  padding: 0.2rem;
  border-radius: 2rem;
  text-align: center;
} 
.cat-cont-right{
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;  */
  padding: 1rem;
  width: 6rem;
  gap: 2rem;
   
}

.cat-cont-right .ul1 ul li {
  flex: 1 1 25%;
  margin-top: 0.9rem;
  height: auto;
  width: auto;
  /* display: inline-block;  */
  padding: 0.9rem;
  border: 1px solid rgb(28, 25, 25);
  text-align: center;
  border-radius: 1.2rem;
} 
.cat-cont-right .ul1 ul li:hover {
  background-color: black;
  color: white;
}


.cat-cont-right{
  position: relative;
  display: inline-block;
}
.show1 , .show2, .show3, .show4, .show5, .show6, .show7, .show8, .show9{
  display: none;
}

/* .show1{
  display: none;
}
.cat-cont:hover .show1{
   display: block;
} */
 

/* .show1{
  display: block;
} */
/* .cate-cont-left ul li:hover .show1{
  display: block;
  background-color: red;
}
.cate-cont-left:hover .show2{
  display: block;
} */


/* --------------------------------------className="Body"  CSS------------------------------- */
.body{
  height: auto;
  margin-top: 2rem;
   
}
.body h1{
  text-align: center;
}


/* -------------------------------------HomePage.css------------------------------ */
.Homebody{
  height: auto;
  margin-top: 2rem;
  background-color: aqua;

}
.Homebody h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
  font-weight: 600;
}
.Homebody h2 {
  text-align: center;
  font-size: 1.8rem;
  padding-top: 2rem;
  font-weight: 500;
}


 
/*---------------------------------------Footer.js CSS ------------------------------------ */
.footer{
  height: auto;
  background-color: azure;
  margin-top: 2rem;
}
.upperfooter{
  height: auto;
  display: flex;
  background-image: url('../src/images/182428240217.jpg');
   
}
.rightfooter{
  flex-basis: 35%;
  /* background-color: black; */
  color: white;
  padding: 4rem;
}
.rightfooter1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.rightfooter2 {
  font-size: 1.2rem;
  font-weight: 200;
  margin-bottom: 1rem;
}
.rightfooter h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.rightfooter31 ul li{
  list-style: none;
}
.rightfooter31 ul li::before{
   content: ">";
   font-size: 1.5rem;
}
.rightfooter32 ul li{
  list-style: none;
}
.rightfooter32 ul li::before{
   content: ">";
    
   font-size: 1.5rem;
}
.rightfooter3{
  display: flex;
  gap: 7rem;
   
}
.rightfooter4 {
  display: -webkit-box;
  font-size: 1.2rem;
  gap: 1rem;
  margin-top: 2rem;
}
.rightfooter5 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 2rem;
}
.rightfooter6{
  display: flex;
  gap: 6rem;
  margin-top: 3rem;
  
}
.logo{
  font-size: 2rem;
  margin:0.5rem;
}
.bt1 {
  display: flex;
  border: 2px solid white;
  border-radius: 0.5rem;
  font-size: 0.9;
  padding: 0.2rem;
}
.btn1 {
  font-size: 2rem;
}
.leftfooter{
  flex-basis: 65%;
  /* background-image: url('../src/images/182428240217.jpg'); */
  padding: 2rem;
}
.leftfooter1{
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.3rem;
  color: white;
}
 
.leftfooter h1 {
  font-size: 1rem;
  color: white;
  padding: 0.3rem;
}
.leftfooter li {
  font-size: 0.8rem;
  list-style: ">";
  color: white;
  padding: 0.1rem;
}
.leftfooter li:hover{
  color: yellow ;
}
.leftfooter p:hover{
  color: blue
};
.leftfooter li::before {
  content: ">";
  color: white;
}
.leftfooter2{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.leftfooter3{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.leftfooter4{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.lowerfooter{
  height: 10vh;
  text-align: center;
  margin: inherit;
   
}



/* ======================className="content"==================== */
.content {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  padding: 0.2rem;
  max-height: 60rem;
}
.leftcont {
  flex-basis: 20%;
  background-color: white;
  overflow-y: scroll;
  
  scroll-behavior: smooth;
  scrollbar-width: thin;
  position: sticky;
}
.leftcont img{
  height: 8rem;
  width: auto;
  border: 2px solid black;
  background-color: green;
}
.centercont {
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-basis: 60%;
   
  background-color: aqua;
  padding: 5px 10px 5px 20px;
}
.centercont::-webkit-scrollbar {
  display: none;
}
.centercont h2{
  font-size: 2rem;
  font-weight: 400;
}
.centercont p{
  font-size: 1.3rem;
  font-weight: 400;
}
.rightcont{
   flex-basis: 20%;
  background-color: bisque;
}
.cont-index ul{
  display: flex;
  justify-content: space-around;
}
.leftcont ul li {
  border-bottom: 1px solid black;
  background-color: azure;
  height: 2.5rem;
  padding: 4px 2px 4px 3px;
  text-align: left;
  transition: 0.10s;
}
.leftcont ul li:hover {
  border-bottom: 1px solid black;
  background-color:white;
  /* border: 1px solid black; */
   /* border-radius: 2rem;  */
  height: 2.5rem;
  padding: 4px 2px 4px 3px;
  text-align: left;
}

.btn{
  display: flex;
  justify-content: space-around;
}
.btn1{
  background-color: black;
  color: white;
  height: 3rem;
  width: 5rem;
  border-radius: 20%;
}

/* --------------------------CSS FOR POST ---------------------------------- */
.post{
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  width: 100%;
}
.post input {
  display: inline-block;
  border: 1px solid red;
  height: 3rem;
  padding: 1rem;
}
form {
  display: inline-grid;
  gap: 2rem;
  width: 80%;
  
}
form textarea{
  height: 20rem;
  border: 1px solid blue;
  padding: 1rem 1rem  ;
}


/* =========================Homepage ki CSS ========================== */
/* .twooptions {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}*/
.firstfield {
  font-size: 1.3rem;
  padding: 4rem;
}
.firstfield input {
  height: 3rem;
  width: 50%;
  padding: 0.7rem;
  margin-top: 1.5rem;
  color: black;
  border-radius: 1.2rem;
}
.firstfield input::placeholder{
  font-weight: 100;
  opacity: 0.3;
} 
 .navbar1{
  color: white;
  /* background-color: rgb(110, 103, 103); */
  background-image:url('../src/images/bg1.jpg');
  height: 50vh;
 }
 .profile img {
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 50%;
}
.profile{
  position: relative;
  display: inline-block;
}
.profile-cont {
  display: none;
  position: absolute;
  background-color: aliceblue;
  width: 13rem;
  
  padding: 0.2rem;
  z-index: 1;
  font-size: 1.2rem;
  /* margin-top: 1rem; */
}
 
.profile:hover .profile-cont{
  display: block;
  cursor: pointer;
  border-bottom: 1px solid black;

}
 .items1 ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
   
 }
 .items1 ul li{
  padding: 0.5rem;
   
  
 }

 .items1 ul li:hover{
  background-color: green;
  
 }
 .firstfield p{
  margin-top: 2rem;
 }
 .startlr{
  background-color: white;
 }





/* -----------------------------------cards css------------------------- */
.cards {
  display: flex;
  justify-content: space-around;
  margin: 3rem;
}
.card1{
  padding: 0.1rem;
  border: 0.2px solid white; 
  border-radius: 0.5rem;
  height: auto;
  width: 18rem;
  background-color: aliceblue;
   

}

.card1 img {
  height: 11rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.card1 .p1 {
  text-align: left;
  font-size: 0.8rem;
  margin-top: 0.6rem;
}
.card1 .p2 {
  font-size: 0.9rem;
  text-align: center;
  opacity: 0.8;
  font-weight: 300;
}
.carddown {
  background-color: rgb(243, 232, 232);
  margin-bottom: 0.3rem;
  padding: 0.3rem;
}
.carddown .p3 {
  text-align: left;
  font-size: 0.9rem;
  
}
.carddown .p4 {
  text-align: center;
  font-size: 0.9rem;
  border: 1px solid blue;
  padding: 0.3rem;
  font-weight: 700;
  border-radius: 0.9rem;
  margin-top: 0.3rem;
}


/* --------------------------Public dashboard css ---------------------------------------------------- */
.board {
  display: flex;
  height: auto;
  width: auto;
  
  margin-top: 1.5rem;
  border: 2px solid black;
  border-radius: 2rem; 
}
.rightboard{
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
  border: 2px solid black;
  border-radius: 2rem;
   
   
}
.dashitems h1 {
  display: ruby;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.dashitems li {
  height: 4rem;
  display: ruby-text;
  font-size: 1.3rem;
  font-weight: 500;
}
.dashitems ul li:hover{
  background-color: #f2f2f2;
}
.dashitems ul {
  margin-top: 3rem;
  padding: 1rem;
}
.dashitems p{
  opacity: 0.5;
}
.downpart{
   float: inline-end;
   margin-top: 9rem;
}
.downpart{
  background-color: grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.2rem;
  display: flex;
  font-size: 1rem;
}
.rightdownpart .p3{
  margin: 1rem;
  font-size: 3rem;
} 
.mainboard{
  display: flex;
  /* border: 2px solid black; */
  border-radius: 2rem;
  width: 82%;

}
.mainboardrt{
  border: 2px solid black;
  border-radius: 2rem;
  padding: 2rem;
  flex-basis: 70% ;
}
.mainboardlt{
  border: 2px solid black;
  border-radius: 2rem;
  padding: 2rem;
  flex-basis: 30%;
}

/* ---------------------------small cards css -------------------------- */
.startlr .p0{
  font-size: 3rem;
  
}
.startlr{
  padding: 5%;
  
}

.smcrd1 {
  border: 1px solid black;
  margin-bottom: 1rem;
  border-radius: 0.9rem;
  width: 17rem;
  height: 6rem;
  font-size: 1.5rem;
  padding: 0.6rem;
}
.smcrds{
  background-color: black;
  padding: 1.2rem;
}
.c0{
  background-color: rosybrown;
}
.c1{
  background-color: aquamarine;
}
.c2{
  background-color: blueviolet;
}
.c3{
  background-color: gold;
}
.c4{
  background-color: darkorange;
}
.c5{
  background-color: lightblue;
}
.c6{
  background-color: crimson;
}
.c7{
  background-color: darkgreen;
}
.c8{
  background-color: darkmagenta;
}
.c9{
  background-color: darkslategray;
}
.c10{
  background-color: darkgrey;
}
.c11{
  background-color: darkolivegreen;
}
.stlr{
  display: flex;
  justify-content: space-between;

}
.stlrlft{
  display: flex;
  gap: 1rem;
}
.btn0 {
  background-color: darkorange;
  height: 3rem;
  padding: 0.3rem;
  width: 8rem;
  border-radius: 1.2rem;
}
.btn2 {
  background-color: darkorange;
  height: 3rem;
  padding: 0.3rem;
  width: 4rem;
  border-radius: 1.2rem;
  text-align: -webkit-center;
  font-size: 2rem;
}
.btn3 {
  background-color: darkorange;
  height: 3rem;
  padding: 0.3rem;
  width: 4rem;
  border-radius: 1.2rem;
  text-align: -webkit-center;
  font-size: 2rem;
}
.btn0:hover {
  background-color:green;
  color: black;
  height: 3rem;
  font-weight: 700;
  padding: 0.3rem;
  width: 8rem;
  border-radius: 1.2rem;
}
.btn2:hover {
  background-color:green;
  height: 3rem;
  padding: 0.3rem;
  width: 4rem;
  border-radius: 1.2rem;
  text-align: -webkit-center;
  font-size: 2rem;
}
.btn3:hover {
  background-color:green;
  height: 3rem;
  padding: 0.3rem;
  width: 4rem;
  border-radius: 1.2rem;
  text-align: -webkit-center;
  font-size: 2rem;
}
.alltech11 {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 2rem;
  border-radius: 2rem;
  gap: 1rem;
}
.alltech1 {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 4rem;
}
 
.alltech11 {
  display: flex;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 2rem;
  gap: 1rem;
  background-color: aliceblue;
  box-shadow: -10px 10px;
  height: 29rem;
}
.smcrds1 {
  display: flex;
  justify-content: space-around;
  gap: 1.2rem;
}
.p9{
  font-size: 2rem;
  font-weight: 600;
}
 



/* ================================navbar2.css =================================== */
.navbar2{
  background-color: black;
  color: white;
  padding: 0.6rem 0rem 0.6rem 0rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  position: sticky;
}
.navbar2 h3{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.slick-prev:before {
  content: '←';
  font-size: 1.5rem;
  background-color:black;
}
.slick-next:before {
  background-color: black;
  font-size: 1.5rem;
  content: '→';
}